---
layout: page
title: Portfolio
---
<!-- portfolio -->
<section class="section-portfolio">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <div class="btn btn-group-toggle justify-content-center d-flex" data-toggle="buttons">
          <label class="btn btn-sm btn-secondary active">
            <input type="radio" name="shuffle-filter" value="all" checked="checked" />All
          </label>
          {% for label in site.data.settings.portfolio-label %}
          <label class="btn btn-sm btn-secondary">
            <input type="radio" name="shuffle-filter" value="{{ label.type }}" />{{ label.title }}
          </label>
          {% endfor %}	
        </div>
      </div>
    </div>
	
    <div class="row shuffle-wrapper">
      {% for item in site.data.settings.portfolio-items %}
      <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[{% for portfolio in item.portfolio-type %}{% if forloop.first == true %}{% else %},{% endif %}&quot;{{ portfolio.type }}&quot;{% endfor %}]">
        
	   <div class="position-relative rounded hover-wrapper">
          <img src="{{ site.baseurl }}/{{ item.image }}" alt="portfolio-image" class="img-fluid rounded w-100 d-block">
	<a class="hover-overlay" href="{{ item.url }}">
            <div class="hover-content">
              
		    <h5 class="font-secondary" style="padding-top:10px" href="{{ item.url }}" >{{ item.title | escape }}</h5><p>{{ item.tags }}</p>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
     
    </div>
  </div>
</section>

 <!-- Portfolio Start -->
<section id="portfolio-work">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <div class="portfolio-menu">
                <ul>
                    <li class="filter" data-filter="all">Everything</li>
                    <li class="filter" data-filter=".Branding">Branding</li>
                    <li class="filter" data-filter=".Websites">Websites</li>
                    <li class="filter" data-filter=".Graphic">Graphic</li>
                    <li class="filter" data-filter=".design">design</li>
                    <li class="filter" data-filter=".Video">Video</li>
                </ul>
              </div>
              <div class="portfolio-contant">
                <ul id="portfolio-contant-active">
                    <li class="mix Branding">
                      <a href="#">
                        <img src="{{ site.baseurl }}/img/portfolio/work1.jpg" alt="">
                        <div class="overly">
                          <div class="position-center">
                            <h2>Tesla Motors</h2>
                            <p>Labore et dolore magna aliqua. Ut enim ad </p>

                          </div>
                        </div>
                      </a>
                  </li>
                  <li class="mix Websites">
                    <a href="#">
                      <img src="{{ site.baseurl }}/img/portfolio/work2.jpg" alt="">
                      <div class="overly">
                        <div class="position-center">
                          <h2>Tesla Motors</h2>
                          <p>Labore et dolore magna aliqua. Ut enim ad </p>

                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="mix Graphic">
                    <a href="#">
                      <img src="{{ site.baseurl }}/img/portfolio/work3.jpg" alt="">
                      <div class="overly">
                        <div class="position-center">
                          <h2>Tesla Motors</h2>
                          <p>Labore et dolore magna aliqua. Ut enim ad </p>

                        </div>
                      </div>

                    </a>
                  </li>
                  <li class="mix design">
                    <a href="#">
                      <img src="{{ site.baseurl }}/img/portfolio/work4.jpg" alt="">
                      <div class="overly">
                        <div class="position-center">
                          <h2>Tesla Motors</h2>
                          <p>Labore et dolore magna aliqua. Ut enim ad </p>

                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="mix Video">
                    <a href="#">
                      <img src="{{ site.baseurl }}/img/portfolio/work5.jpg" alt="">
                      <div class="overly">
                        <div class="position-center">
                          <h2>Tesla Motors</h2>
                          <p>Labore et dolore magna aliqua. Ut enim ad </p>

                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="mix Graphic">
                    <a href="#">
                      <img src="{{ site.baseurl }}/img/portfolio/work6.jpg" alt="">
                      <div class="overly">
                        <div class="position-center">
                          <h2>Tesla Motors</h2>
                          <p>Labore et dolore magna aliqua. Ut enim ad </p>

                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>
<!-- /portfolio-- 

<section class="portfolio">
	
	<div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <div class="btn btn-group-toggle justify-content-center d-flex" data-toggle="buttons">
          <label class="btn btn-sm btn-secondary active">
            <input type="radio" name="shuffle-filter" value="all" checked="checked" />All
          </label>
          {% for label in site.data.settings.portfolio-label %}
          <label class="btn btn-sm btn-secondary">
            <input type="radio" name="shuffle-filter" value="{{ label.type }}" />{{ label.title }}
          </label>
          {% endfor %}
        </div>
      </div>
    </div>
		
	<div class="content-wrap portfolio-wrap row shuffle-wrapper">
    {% for item in site.data.settings.portfolio-items %}
	<div class="portfolio-item shuffle-item" data-groups="[{% for portfolio in item.portfolio-type %}{% if forloop.first == true %}{% else %},{% endif %}&quot;{{ portfolio.type }}&quot;{% endfor %}]">
    
			<div class="position-relative rounded hover-wrapper">
          <img src="{{ site.baseurl }}/{{ item.image }}" alt="portfolio-image" class="img-fluid rounded w-100 d-block">
          <div class="hover-overlay" href="{{ item.url }}">
            <div class="hover-content btn" href="{{ item.url }}">
              <a class="btn btn-light btn-sm" style="padding-bottom:10px" href="{{ item.url }}">view project</a>
              <h5 class="font-secondary" style="padding-top:10px" href="{{ item.url }}" >{{ item.title | escape }}</h5><p>{{ item.tags }}</p>

					</div>
					
				</div>

			</a>

		</div>
		{% endfor %}

<div class="position-relative rounded hover-wrapper">
          <img src="{{ site.baseurl }}/{{ item.image }}" alt="portfolio-image" class="img-fluid rounded w-100 d-block">
          <div class="hover-overlay" href="{{ item.url }}">
            <div class="hover-content btn" href="{{ item.url }}">
              <a class="btn btn-light btn-sm" style="padding-bottom:10px" href="{{ item.url }}">view project</a>
              <h5 class="font-secondary" style="padding-top:10px" href="{{ item.url }}" >{{ item.title | escape }}</h5><p>{{ item.tags }}</p>

</section>




