---
layout: page
title: Portfolio
---
<!-- portfolio -->
<section class="section-portfolio">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <div class="btn btn-group-toggle justify-content-center d-flex" data-toggle="buttons">
          <label class="btn btn-sm btn-portfolio active">
            <input type="radio" name="shuffle-filter" value="all" checked="checked" />All
          </label>
          {% for label in site.data.settings.portfolio-label %}
          <label class="btn btn-sm btn-portfolio">
            <input type="radio" name="shuffle-filter" value="{{ label.type }}" />{{ label.title }}
          </label>
          {% endfor %}	
        </div>
      </div>
    </div>
	
    <div class="row shuffle-wrapper">
      {% for item in site.data.settings.portfolio-items %}
      <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[{% for portfolio in item.portfolio-type %}{% if forloop.first == true %}{% else %},{% endif %}&quot;{{ portfolio.type }}&quot;{% endfor %}]">
        
	   <div class="position-relative rounded hover-wrapper">
          <img src="{{ site.baseurl }}/{{ item.image }}" alt="portfolio-image" class="img-fluid rounded w-100 d-block">
	<a class="hover-overlay" href="{{ item.url }}">
            <div class="hover-content">
              
		    <p class="font-tertiary" style="padding-top:10px; font-size: 15px; font-weight: 700; line-height: 1.2; text-transform: uppercase; letter-spacing: 1px"
 href="{{ item.url }}" >{{ item.title | escape }}</p><p>{{ item.tags }}</p>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
     
    </div>
  </div>
</section>


<!-- /portfolio-- 

<section class="portfolio">
	
	<div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <div class="btn btn-group-toggle justify-content-center d-flex" data-toggle="buttons">
          <label class="btn btn-sm btn-secondary active">
            <input type="radio" name="shuffle-filter" value="all" checked="checked" />All
          </label>
          {% for label in site.data.settings.portfolio-label %}
          <label class="btn btn-sm btn-secondary">
            <input type="radio" name="shuffle-filter" value="{{ label.type }}" />{{ label.title }}
          </label>
          {% endfor %}
        </div>
      </div>
    </div>
		
	<div class="content-wrap portfolio-wrap row shuffle-wrapper">
    {% for item in site.data.settings.portfolio-items %}
	<div class="portfolio-item shuffle-item" data-groups="[{% for portfolio in item.portfolio-type %}{% if forloop.first == true %}{% else %},{% endif %}&quot;{{ portfolio.type }}&quot;{% endfor %}]">
    
			<div class="position-relative rounded hover-wrapper">
          <img src="{{ site.baseurl }}/{{ item.image }}" alt="portfolio-image" class="img-fluid rounded w-100 d-block">
          <div class="hover-overlay" href="{{ item.url }}">
            <div class="hover-content btn" href="{{ item.url }}">
              <a class="btn btn-light btn-sm" style="padding-bottom:10px" href="{{ item.url }}">view project</a>
              <h5 class="font-secondary" style="padding-top:10px" href="{{ item.url }}" >{{ item.title | escape }}</h5><p>{{ item.tags }}</p>

					</div>
					
				</div>

			</a>

		</div>
		{% endfor %}

<div class="position-relative rounded hover-wrapper">
          <img src="{{ site.baseurl }}/{{ item.image }}" alt="portfolio-image" class="img-fluid rounded w-100 d-block">
          <div class="hover-overlay" href="{{ item.url }}">
            <div class="hover-content btn" href="{{ item.url }}">
              <a class="btn btn-light btn-sm" style="padding-bottom:10px" href="{{ item.url }}">view project</a>
              <h5 class="font-secondary" style="padding-top:10px" href="{{ item.url }}" >{{ item.title | escape }}</h5><p>{{ item.tags }}</p>

</section>




