.card-lg {
  flex-direction: row-reverse;
  align-items: center;

  @include desktop {
    flex-direction: column;
  }
}

blockquote > p {
  display: block; /* inline-block */
  padding: 15px 20px;
  background: $primary-color;
  border-left: 10px solid $secondary-color;
  font-style: italic;
  font-size: 22px;
  line-height: inherit;
  clear:both;
  text-align:center;
}

.content {
  * {
    margin-bottom: 30px;
  }

  strong {
    font-family: $primary-font;
    font-size: 18px;
    font-weight: normal;
    color: $gray;
    display: inherit;
    line-height: 1.5;
    font-weight: 600;
  }
}
