<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <p class="section-title font-primary" style="font-size: 25px">Welcome to my Portoflio</p>
        <p class="section-title font-tertiary" style="font-size: 15px">{{ site.data.settings.blurb }}</p>
      </div>
      <!-- <div class="row">
        <div class="col-lg-10 mx-auto text-center">
        <a href="{{ site.data.settings.blurb-btn-link }}" class="btn btn-custom">{{ site.data.settings.blurb-btn-name }}</a>
        </div>
      </div> -->
      </div> 
    </div>
  </div>
</section>
<!-- /about -->
