/*  typography */
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display:400,700|Raleway:300,400,500,700');

@font-face {
  font-family: 'BwNistaInt-xBd';
  src: url("../plugins/fonts/BwNistaInt-xBd.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

body {
  line-height: 1.2;
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: $text-color;
}

p, .paragraph {
  font-weight: 400;
  color: $text-color;
  font-size: 15px;
  line-height: 1.8;
  font-family: $primary-font;
  &-lg{
    font-size: 22px;
  }
}

h1,h2,h3,h4 {
  color: $text-color;
  font-family: $secondary-font;
  line-height: 1.2;
}

h1, .h1{
  font-size: 80px;
  @include desktop {
    font-size: 65px;
  }
}

h2, .h2{
  font-size: 35px;
  @include desktop {
    font-size: 35px;
  }
}

h3, .h3{
  font-size: 26px;
  text-align: center;
}

h4, .h4{
  font-size: 22px;
  text-align:center;
}

h5, .h5{
  font-size: 18px;
  color: #ffffff;
  line-height: 1.2;
}

h6, .h6{
  font-size: 14px;
  color: #ffffff;
  line-height: 1.2;
}

.slide-in-blurred-top {
	-webkit-animation: slide-in-blurred-top 0.8s cubic-bezier(0.860, 0.000, 0.070, 1.000) both;
	        animation: slide-in-blurred-top 0.8s cubic-bezier(0.860, 0.000, 0.070, 1.000) both;
}

@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
