// Color Variables
$primary-color: #0b0c10;
$secondary-color: #3500d3;
$text-color: #f2f2f2;
$text-title: #fca505;
$text-color-dark: #fca505;
$text-color-light: #999999;
$body-color: #1b232b;
$border-color: #c7c7c7;
$black: #000;
$white: #fff;
$gray: #240090;

// Font Variables
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Bodoni', serif;
$tertiary-font: 'Roboto', sans-serif;
$icon-font: 'themify';
